#nav{

background-color: #0080bb;
color: #ffffff;
text-align: center;
width: 100%;
padding: 0px;
border: 1px solid;
}
#header{
background-color: #00afff;
color: #ffffff;
width: 100%;
height: 80px;
padding: 20px;
border: 0px solid;
}

#first_section{
background-color: #049298;
color: #ffffff;
text-align: left;
vertical-align: top;
width: 100%;
/*height: 400px;*/
padding: 20px;
border: 0px;

}
#second_section{
background-color: #049298;
color: #ffffff;
text-align: center;
width: 100%;
height: 200px;
padding: 20px;
border: 1px solid;
font-family: ;
}
#footer{
background-color: #0492ff;
color: #ffffff;
text-align: center;
width: 100%;
height: 30px;
padding: 20px;
border: 1px solid;

}

#image{

	display: block;
	float: left;
	width: 80px%;
	height:80px;
}
.logo{
		border:1px solid;
		width:20%;
		height:30px;
}
.name{
	border: 1px solid;
	width: 60%;
	height:30px;

}
.login
{
border: 1px solid;
width: 20%;
height: 30px;

}